$primary-main: #2733BB;
$white: #FFFFFF;
$black: #333333;
$gray: #828282;
$btn-gray: #7E838C;
$light: #FAFAFA;
$light-border: #ECEFF4;
$light-bg: #E8E9FA;
$extra-light-bg: #F4F7FC;
$text-secondary: #6C757D;
$divider: #D8DEE7;